.Meg{
    background-image: url("https://arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/M2TEVX4MXNFKPKVPDUR75U4HEI.jpg");
    background-size: 10rem;
    height: 665px;
} 

.tab {
    border-color: rgb(165, 12, 12);
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

.uno {
    text-align: center;
    color: rgb(255, 255, 255);
}
.dos {
    border: 10px;
    text-align: center;
}

.card-text {
    color: black;
}

.card-title {
    text-align: center;
}

h2 {
    color: rgb(91, 223, 247);
    text-align: center;
}
